.vjs-simple-caption-settings {
    position: absolute;
    right: 5em;
    bottom: 4em;
    width: 320px;
    height: 290px;
    background-color: #000;
    background-color: rgba(0, 0, 0, 0.75);
    color: $primary-foreground-color;
    padding: 25px;
    font-size: 14px;
    text-align: left;
    outline: none;
    border: 1px solid rgba(206, 206, 206, 0.3);
    -webkit-background-clip: padding-box;
    /* for Safari */
    background-clip: padding-box;
    /* for IE9+, Firefox 4+, Opera, Chrome */
    border-radius: 3px;
}

.vjs-simple-caption-settings .vjs-settings-item {
    height: 30px;
    margin-bottom: 35px;
}

.vjs-simple-caption-settings .vjs-label {
    width: 4em;
    height: 30px;
    line-height: 30px;
    float: left;
    text-align: center;
}

.vjs-simple-caption-settings .vjs-setting-box {
    width: 195px;
    height: 30px;
    line-height: 30px;
    float: right;
}

.vjs-simple-caption-settings .vjs-track-select {
    position: relative;
}

.vjs-simple-caption-settings .current-track {
    width: 193px;
    height: 30px;
    padding-left: 10px;
    background-color: rgba(21, 21, 21, 0.2);
    border: 1px solid rgba(255, 255, 255, 0.3);
    -webkit-background-clip: padding-box;
    /* for Safari */
    background-clip: padding-box;
    /* for IE9+, Firefox 4+, Opera, Chrome */
    border-radius: 3px;
    color: #2970d6;
}

.vjs-simple-caption-settings .tracks-pop-list-box {
    position: absolute;
    z-index: 1;
    top: 30px;
    left: -5px;
    display: none;
    padding-top: 5px;
}

.vjs-simple-caption-settings .vjs-menu-content {
    overflow-y: scroll;
    position: relative;
    width: 205px;
    height: 140px;
    list-style: none;
    padding: 0;
    background-color: rgba(4, 4, 3, 0.7);
    border: 1px solid rgba(255, 255, 255, 0.3);
    -webkit-background-clip: padding-box;
    /* for Safari */
    background-clip: padding-box;
    /* for IE9+, Firefox 4+, Opera, Chrome */
    border-radius: 3px;
}

.vjs-simple-caption-settings .vjs-track-select:hover .tracks-pop-list-box {
    display: block;
}

.vjs-simple-caption-settings .vjs-track-select:hover .vjs-menu-content li {
    position: relative;
    height: 45px;
    line-height: 45px;
    padding-left: 10px;
    cursor: pointer;
    font-family: VideoJS;
    font-weight: normal;
    font-style: normal;
    outline: none;
}

.vjs-simple-caption-settings .vjs-track-select:hover .vjs-menu-content li.vjs-selected {
    color: #2970d6;
}

.vjs-simple-caption-settings .vjs-track-select:hover .vjs-menu-content li.vjs-selected:before {
    position: absolute;
    right: 12px;
    content: "\f11f";
}

.vjs-simple-caption-settings .vjs-captions-time-adjust {
    position: relative;
}

.vjs-simple-caption-settings .backward-box {
    position: absolute;
    top: 0;
    left: 0;
}

.vjs-simple-caption-settings .forward-box {
    position: absolute;
    top: 0;
    right: 0;
}

.vjs-simple-caption-settings .backward,
.vjs-simple-caption-settings .forward {
    width: 30px;
    height: 30px;
    padding: 0;
    line-height: 1;
    background-color: rgba(21, 21, 21, 0.2);
    border: 1px solid rgba(255, 255, 255, 0.3);
    -webkit-background-clip: padding-box;
    /* for Safari */
    background-clip: padding-box;
    /* for IE9+, Firefox 4+, Opera, Chrome */
    border-radius: 3px;
    cursor: pointer;
    text-align: center;
    outline: none;
}

.vjs-simple-caption-settings .backward-tip,
.vjs-simple-caption-settings .forward-tip {
    display: none;
    position: absolute;
    top: 35px;
    left: 50%;
    width: 60px;
    height: 30px;
    margin-left: -30px;
    background-color: #2970d6;
    font-size: 12px;
    text-align: center;
    line-height: 30px;
    border-radius: 3px;
}

.vjs-simple-caption-settings .backward-box:hover .backward-tip {
    display: block;
}

.vjs-simple-caption-settings .forward-box:hover .forward-tip {
    display: block;
}

.vjs-simple-caption-settings .current-time-adjust-box {
    width: 105px;
    height: 30px;
    margin: 0 auto;
    line-height: 30px;
    background-color: rgba(21, 21, 21, 0.2);
    border: 1px solid rgba(255, 255, 255, 0.3);
    -webkit-background-clip: padding-box;
    /* for Safari */
    background-clip: padding-box;
    /* for IE9+, Firefox 4+, Opera, Chrome */
    border-radius: 3px;
    text-align: center;
    color: #2970d6;
}

.vjs-simple-caption-settings .vjs-captions-font-size {
    position: relative;
}

.vjs-simple-caption-settings .vjs-captions-font-size .line {
    position: absolute;
    top: 13px;
    width: 100%;
    border-bottom: 2px solid rgba(255, 255, 255, 0.2);
}

.vjs-simple-caption-settings .vjs-captions-font-size .size-list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.vjs-simple-caption-settings .vjs-captions-font-size .size-list .size-item {
    position: absolute;
    width: 50px;
    height: 60px;
    top: 8px;
}

.vjs-simple-caption-settings .vjs-captions-font-size .size-list .size-item .circle {
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -7px;
    width: 12px;
    height: 12px;
    border: 2px solid rgba(255, 255, 255, 0.1);
    border-radius: 50%;
    background-color: #1e1d1c;
}

.vjs-simple-caption-settings .vjs-captions-font-size .size-list .size-item .size-intro {
    position: absolute;
    top: 20px;
    left: 0;
    width: 50px;
    text-align: center;
    color: #fff;
    transition: color .3s;
}

.vjs-simple-caption-settings .vjs-captions-font-size .size-list .size-item.default .size-intro {
    color: #2e85ff;
}

.vjs-simple-caption-settings .vjs-captions-font-size .size-list .small {
    left: -19px;
}

.vjs-simple-caption-settings .vjs-captions-font-size .size-list .middle {
    left: 45px;
}

.vjs-simple-caption-settings .vjs-captions-font-size .size-list .big {
    left: 105px;
}

.vjs-simple-caption-settings .vjs-captions-font-size .size-list .super-big {
    left: 165px;
}

.vjs-simple-caption-settings .vjs-captions-font-size .drag-button {
    position: absolute;
    top: 5px;
    left: 64px;
    margin-left: -3px;
    width: 18px;
    height: 18px;
    border: 3px solid rgba(1, 68, 162, 0.64);
    border-radius: 50%;
    background-color: #2e85ff;
}

.vjs-simple-caption-settings .vjs-captions-font-size .drag-button.ani {
    transition: left .3s;
}

.vjs-simple-caption-settings .vjs-default-button-box {
    padding-top: 15px;
}

.vjs-simple-caption-settings .vjs-default-button {
    width: 95px;
    height: 35px;
    line-height: 35px;
    margin: 0 auto;
    background-color: rgba(21, 21, 21, 0.2);
    border: 1px solid rgba(255, 255, 255, 0.3);
    -webkit-background-clip: padding-box;
    /* for Safari */
    background-clip: padding-box;
    /* for IE9+, Firefox 4+, Opera, Chrome */
    border-radius: 3px;
    cursor: pointer;
    text-align: center;
    color: #bbbbbb;
}


/* have not tracks */
.vjs-simple-caption-settings.havent-tracks .time-adjust-settings-item,
.vjs-simple-caption-settings.havent-tracks .font-size-settings-item,
.vjs-simple-caption-settings.havent-tracks .vjs-default-button-box {
    /* older safari/Chrome browsers */
    -webkit-opacity: 0.3;
    /* Netscape and Older than Firefox 0.9 */
    -moz-opacity: 0.3;
    /* Safari 1.x (pre WebKit!) 老式khtml内核的Safari浏览器*/
    -khtml-opacity: 0.3;
    /* IE9 + etc...modern browsers */
    opacity: .3;
    /* IE 4-9 */
    filter:alpha(opacity=30);
}

.vjs-simple-caption-settings.havent-tracks .backward,
.vjs-simple-caption-settings.havent-tracks .forward,
.vjs-simple-caption-settings.havent-tracks .vjs-default-button {
    cursor: default;
}

.vjs-simple-caption-settings.havent-tracks .backward-box:hover .backward-tip,
.vjs-simple-caption-settings.havent-tracks .forward-box:hover .forward-tip {
    display: none;
}
