.video-js .vjs-time-control {
  @include flex(none);
  font-size: 1em;
  line-height: 3em;
  width: auto;
  padding-left: 0.5em;
  padding-right: 0.5em;
}

.vjs-live .vjs-time-control {

}

// We need the extra specificity that referencing .vjs-no-flex provides.
.video-js .vjs-current-time,
.vjs-no-flex .vjs-current-time {

}

.video-js .vjs-duration,
.vjs-no-flex .vjs-duration {

}

.vjs-time-divider {
  line-height: 3em;
}

.video-js .vjs-time-divider {
  padding-left: 0;
  padding-right: 0;
}

.vjs-live .vjs-time-divider {
  // Already the default, but we want to ensure when the player is live
  // this hides in the same way as the other time controls for other skins
}
